.Editor {
  display: flex;
  gap: 6px;
}

.Editor > input {
  width: 80%;
  border: 1px solid pink;
  border-radius: 5px;
}

.Editor > button {
  border: 1px solid brown;
  color: white;
  background-color: brown;
  border-radius: 5px;
  cursor: pointer;
}
